/**
 * normalize
 */
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
img {
  border: 0;
  max-width: 100%;
}
nav ul {
  list-style-type: none;
}


/* Workunit Styles
-------------------------------------------------------------------------------*/
* {
  font-size: 16px;
  font-family: 'Vollkorn', serif;
}
p, .btn, input {
  font-family: 'Vollkorn', serif;
  font-weight: normal;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: red;
  margin-bottom: 6px;
  margin-top: 12px;
}
h3 {
  font-size: 14px;
}
a {
  color: red;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: none;
}
p a {
  font-style: italic;
}
p a:hover {
  border-bottom: dotted 1px;
}

.opaque {
  opacity: 0.4;
}
.workunit-item-description {
  margin-bottom: 10px;
}
.workunit-item-bullets li {
  font-size: 22px;
  line-height: 110%;
}
/* UL Lists replace bullets with hyphen */
ul.workunit-item-bullets, ul.workunit-beinhaltet, ul.workunit-prices {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0.8em;
  text-indent: -0.8em;
}
.workunit-item-bullets li, .workunit-beinhaltet li, .workunit-prices li {
  list-style-type: none;
}
.workunit-item-bullets li:before, .workunit-beinhaltet li:before, .workunit-prices li:before {
  content: "\2013";
}


#main {
  margin-left: 20px;
  margin-right: 20px;
}
a.brand {
  color: black;
  font-family: 'Vollkorn', serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 80%;
}
#logo {
  margin-top: 15px;
}

/**
Side Navigation Menu
*/
#main-nav {
  font-family: 'Montserrat', sans-serif;
}
ul#main-menu {
  padding-left: 0;
}
ul#main-menu li a {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
ul#main-menu li a:hover,
ul#main-menu li.active a {
  color: red;
}
ul#main-menu ul {
  padding-left: 8px;
}
ul#main-menu ul li a {
  font-size: 12px;
}


/* Flexbox
-------------------------------------------------------------------------------*/
.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
}
.flex-container-col {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}
.flex-item {
  flex: 1;
  border: solid 1px #e7e7e7;
}
#article {
  flex-grow: 2;
}

/* Forms
------------------------------------------------*/
#contactform {
  flex-grow: 3;
  margin-bottom: 12px;
}
#contactform h3 {
  margin-bottom: 12px;
}
label {
  display: inline-block;
  float: left;
}
label.label-right {
  margin-left: 4px;
}
.checkbox-item {
  flex: 1 100px;
}
.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: inline-block;
  padding: 4px 8px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-control:focus {
  border-color: red;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255,0,0,0.75);
  outline: 0 none;
}
.form-row {
  margin-bottom: 12px;
}
input[type=checkbox] {
}
.form-button {
  margin-left: 110px;
}
button.formbutton {
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: block;
  font-family: 'Montserrat', sans-serif;
  padding: 7px 10px;
}

/* Small Screen
------------------------------------------------*/
@media (max-width: 720px ) {
  #fixedheader {
    margin-top: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    display: flex;
  }
  #main {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #article {
    order: -1;
  }
  .toggle-nav {
    background-color:transparent;
    border: none;
	  display:inline-block;
  	cursor:pointer;
    flex: 1;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
   	font-weight:bold;
	  padding:2px 4px;
	  text-decoration:none;
    text-align: left;
  }
  .toggle-nav span {
   font-size: 26px;
  }
  .toggle-nav:active {
	 background-color:transparent;
   border: none;
  }
  #logo {
    flex: 1;
    text-align: center;
  }
  #emptymobilediv {
    flex: 1;
  }
  #main-nav {
    background-color: white;
    display: none;
    position: absolute;
    line-height: 38px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 45px;
    height: 91%;
    width: 40%;
    z-index: 100;
    opacity: 0.98;
  }
  #mobilenav{
    background-color: white;
  }
  .grid_row--md {
    flex-direction: column;
  }
  .flex-nav {
    flex-grow: 0;
  }
  #summary {
    flex-grow: 6;
    margin-bottom: 12px; /* Just so it's the same as #contactform margin-bottom */
  }
  a.brand {
    display: block;
    font-size: 1.2em;
  }
  .img-summary img {
    display: none;
  }
  .img-center img {
    max-height: 30vh;
  }
  #contactform {
    margin-bottom: 18px;
  }
  .form-control {
    width: 95%;
}
}


/* Large Screen
------------------------------------------------*/
@media (min-width: 720px) {
  .toggle-nav {
    display: none;
  }
  header {
    width: 185px;
  }
  #fixedheader {
    position: fixed;
  }
  main {
    width: 100%;
  }
  #logo {
    width: 185px;
  }
  #mobilenav{
    display: none;
  }
  #emptymobilediv {
    display: none;
  }
  .flex-item {
    margin-left: 12px;
  }
  .img-summary img {
    margin-top: 15px;
    max-height: 66%;
  }
  .form-control {
    width: 400px;
  }
  .checkbox-row {
    width: 550px;
    }
    label {
      margin-right: 10px;
      width: 100px;
    }

}


@media (max-width: 960px ) {
  .grid__row--lg {
    flex-direction: row;
  }
}


/* Media queries
-------------------------------------------------------------------------------*/

@media (max-width: 480px) {


}
